* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input, button, a, ul, li {
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1104px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 auto;
}

.nav {
  padding: 28px 0;
}

.nav__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
}

.nav__logo--img {
  width: 100px;
}

.nav__logo--title {
  color: #000;
  font-size: 35px;
  font-weight: 900;
  line-height: 41px; /* 117.143% */
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__links__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.nav__links__wrap--link {
  color: #000;
  font-size: 17px;
  font-weight: 800;
}

.nav__links__wrap--line {
  width: 110px;
  height: 5px;
  flex-shrink: 0;
  background: #4ba87d;
}

.nav--btn {
  background: #4ba87d;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  padding: 10px 20px;
  border: 2px solid #4ba87d;
  cursor: pointer;
}
.nav--btn:hover {
  background-color: #fff;
  color: #4ba87d;
}

@media screen and (max-width: 1024px) {
  .nav__logo--img {
    width: 84px;
    height: 42px;
  }
  .nav__logo--title {
    font-size: 22px;
  }
  .nav__links__wrap--link {
    font-size: 11px;
  }
  .nav__links__wrap--line {
    width: 71px;
    height: 3px;
  }
  .nav--btn {
    font-size: 11px;
    padding: 6px 13.5px;
  }
}
@media screen and (max-width: 768px) {
  .nav__links__wrap {
    display: none;
  }
  .nav__logo {
    gap: 1px;
    justify-content: start;
  }
}
@media screen and (max-width: 350px) {
  .nav__logo--img {
    width: 80px;
  }
  .nav__logo--title {
    font-size: 16px;
  }
  .nav--btn {
    padding: 6px 12px;
  }
}
.header {
  margin-top: 63px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__info {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__info--title {
  position: absolute;
  z-index: 2;
  color: #000;
  font-size: 50px;
  font-weight: 900;
  width: 570px;
  line-height: 71px;
}

.header__info__botom--text {
  color: #000;
  font-size: 19px;
  font-weight: 500;
  padding-top: 160px;
  position: absolute;
  z-index: 2;
  width: 446px;
}

.header__info__botom__btns {
  display: flex;
  gap: 45px;
  justify-content: space-between;
  padding-top: 250px;
  position: relative;
}

.header__info__botom__btns--btn {
  z-index: 2;
  padding: 18px 28px;
  background: #4ba87d;
  color: #fff;
  position: absolute;
  font-size: 18px;
  font-weight: 800;
  width: 200px;
  height: 65px;
  cursor: pointer;
  border: 2px solid #4ba87d;
}
.header__info__botom__btns--btn:hover {
  background-color: #fff;
  color: #4ba87d;
}

.active {
  background-color: #fff;
  color: #4ba87d;
  border: 3px solid #4ba87d;
  position: absolute;
  right: -410px;
}
.active:hover {
  background-color: #4ba87d;
  color: #fff;
}

.header--img {
  background-image: url(../../../img/header-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 721px;
  height: 481px;
}

@media screen and (max-width: 1100px) {
  .header--img {
    width: 472px;
    height: 314px;
    flex-shrink: 0;
  }
  .header__info--title {
    width: 380px;
    font-size: 38px;
    line-height: 46px;
  }
  .header__info__botom--text {
    font-size: 12px;
    padding-top: 100px;
    width: 300px;
  }
  .header__info__botom__btns {
    padding-top: 180px;
    align-items: center;
  }
  .header__info__botom__btns--btn {
    z-index: 2;
    padding: 13px 20px;
    width: 131px;
    height: 42px;
    font-size: 12px;
  }
  .active {
    right: -290px;
  }
  .header__wrap {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media screen and (max-width: 1024px) {
  .header__wrap {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 940px) {
  .header__wrap {
    padding-left: 70px;
    padding-right: 70px;
  }
  .header {
    margin-top: 20px;
  }
}
@media screen and (max-width: 865px) {
  .header__wrap {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media screen and (max-width: 810px) {
  .header__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header__info--title {
    width: 250px;
    font-size: 28px;
    top: -45px;
  }
  .header {
    margin-top: 15px;
  }
  .header__wrap {
    justify-content: center;
  }
  .header__info {
    padding: 0;
  }
  .header__info__botom--text {
    width: 290px;
    padding-top: 330px;
    font-size: 14px;
  }
  .header__info__botom__btns {
    padding-top: 390px;
  }
  .header__info__botom__btns--btn {
    width: 143px;
    height: 40px;
    padding: 12px 0;
    font-size: 13px;
  }
  .active {
    right: -300px;
  }
  .header--img {
    width: 302px;
    height: 324.22px;
    background-position: center;
  }
}
.hero {
  margin-top: 90px;
  padding-top: 50px;
}

.hero__img {
  margin: auto;
  width: 944px;
  height: 628.085px;
  flex-shrink: 0;
  background: url(../../../img/hero-img-1.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
  padding-top: 180px;
}

.hero__img--title {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
}

.hero--btn {
  color: #4ba87d;
  font-size: 21px;
  font-weight: 900;
  padding: 20px 32px;
  border: 1px solid #fff;
  background-color: #fff;
  cursor: pointer;
}
.hero--btn:hover {
  background-color: initial;
  color: #4ba87d;
  border: 3px solid #4ba87d;
}

@media screen and (max-width: 1024px) {
  .hero {
    margin-top: 50px;
  }
  .hero__img {
    margin: auto;
    width: 616px;
    height: 409.852px;
    flex-shrink: 0;
    background: url(../../../img/hero-img-2.png);
    background-repeat: no-repeat;
    gap: 41px;
    padding-top: 100px;
  }
  .hero__img--title {
    font-size: 38px;
  }
  .hero--btn {
    padding: 12px 24px;
    font-size: 13px;
  }
}
@media screen and (max-width: 650px) {
  .hero__img {
    margin: auto;
    width: 304px;
    height: 202.265px;
    background: url(../../../img/hero-img-3.png);
    background-repeat: no-repeat;
    gap: 24px;
    padding-top: 44px;
  }
  .hero__img--title {
    font-size: 22px;
  }
  .hero--btn {
    padding: 6px 13px;
    font-size: 6px;
  }
  .hero {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
