*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input,button,a,ul,li{
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}
.container{
    max-width: 1104px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
}