.header {
  margin-top: 63px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__info {
  padding-top: 22px;
  display: flex;
  flex-direction: column;

  position: relative;
}
.header__info--title {
  position: absolute;
  z-index: 2;
  color: #000;
  font-size: 50px;
  font-weight: 900;
  width: 570px;
  line-height: 71px;
}
.header__info__botom--text {
  color: #000;
  font-size: 19px;
  font-weight: 500;
  padding-top: 160px;
  position: absolute;
  z-index: 2;
  width: 446px;
}
.header__info__botom__btns {
  display: flex;
  gap: 45px;
  justify-content: space-between;
  padding-top: 250px;
  position: relative;
}
.header__info__botom__btns--btn {
  z-index: 2;
  padding: 18px 28px;
  background: #4ba87d;
  color: #fff;
  position: absolute;
  font-size: 18px;
  font-weight: 800;
  width: 200px;
  height: 65px;
  cursor: pointer;
  border: 2px solid #4ba87d;
  &:hover {
    background-color: #fff;
    color: #4ba87d;
  }
}
.active {
  background-color: #fff;
  color: #4ba87d;
  border: 3px solid #4ba87d;
  position: absolute;
  right: -410px;
  &:hover {
    background-color: #4ba87d;
    color: #fff;
  }
}
.header--img {
  background-image: url(../../../img/header-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 721px;
  height: 481px;
}
@media screen and (max-width: 1100px) {
  .header--img {
    width: 472px;
    height: 314px;
    flex-shrink: 0;
  }
  .header__info--title {
    width: 380px;
    font-size: 38px;
    line-height: 46px;
  }
  .header__info__botom--text {
    font-size: 12px;
    padding-top: 100px;
    width: 300px;
  }
  .header__info__botom__btns {
    padding-top: 180px;
    align-items: center;
  }
  .header__info__botom__btns--btn {
    z-index: 2;
    padding: 13px 20px;
    width: 131px;
    height: 42px;
    font-size: 12px;
  }
  .active {
    right: -290px;
  }
  .header__wrap {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media screen and (max-width: 1024px) {
  .header__wrap {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 940px) {
  .header__wrap {
    padding-left: 70px;
    padding-right: 70px;
  }
  .header {
    margin-top: 20px;
  }
}
@media screen and (max-width: 865px) {
  .header__wrap {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media screen and (max-width: 810px) {
  .header__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header__info--title {
    width: 250px;
    font-size: 28px;
    top: -45px;
  }
  .header {
    margin-top: 15px;
  }
  .header__wrap {
    justify-content: center;
  }
  .header__info {
    padding: 0;
  }
  .header__info__botom--text {
    width: 290px;
    padding-top: 330px;
    font-size: 14px;
  }
  .header__info__botom__btns {
    padding-top: 390px;
  }
  .header__info__botom__btns--btn {
    width: 143px;
    height: 40px;
    padding: 12px 0;
    font-size: 13px;
  }
  .active {
    right: -300px;
  }
  .header--img {
    width: 302px;
    height: 324.22px;
    background-position: center;
  }
}
