.hero {
  margin-top: 90px;
  padding-top: 50px;
}
.hero__img {
  margin: auto;
  width: 944px;
  height: 628.085px;
  flex-shrink: 0;
  background: url(../../../img/hero-img-1.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
  padding-top: 180px;
}
.hero__img--title {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
}
.hero--btn {
  color: #4ba87d;
  font-size: 21px;
  font-weight: 900;
  padding: 20px 32px;
  border: 1px solid #fff;
  background-color: #fff;
  cursor: pointer;
  &:hover{
    background-color:initial;
    color: #4ba87d;
    border: 3px solid #4ba87d;
  }

}
@media screen and (max-width:1024px) {
    .hero{
        margin-top: 50px;
    }
    .hero__img {
        margin: auto;
        width: 616px;
        height: 409.852px;
        flex-shrink: 0;
        background: url(../../../img/hero-img-2.png);
        background-repeat: no-repeat;
        gap: 41px;
        padding-top: 100px;
      }
      .hero__img--title{
        font-size: 38px;
      }
      .hero--btn{
        padding: 12px 24px;
        font-size: 13px;
      }
}
@media screen and (max-width:650px) {
    .hero__img {
        margin: auto;
        width: 304px;
        height: 202.265px;
        background: url(../../../img/hero-img-3.png);
        background-repeat: no-repeat;
        gap: 24px;
        padding-top: 44px;
      }
      .hero__img--title{
        font-size: 22px;
      }
      .hero--btn{
        padding: 6px 13px;
        font-size: 6px;
      }
      .hero{
        margin-top: 30px;
    }
}