.nav {
  padding: 28px 0;
}
.nav__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  justify-content: space-between;
}
.nav__logo--img {
  width: 100px;
}
.nav__logo--title {
  color: #000;
  font-size: 35px;
  font-weight: 900;
  line-height: 41px; /* 117.143% */
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__links__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.nav__links__wrap--link {
  color: #000;
  font-size: 17px;
  font-weight: 800;
}
.nav__links__wrap--line {
  width: 110px;
  height: 5px;
  flex-shrink: 0;
  background: #4ba87d;
}
.nav--btn {
  background: #4ba87d;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  padding: 10px 20px;
  border: 2px solid #4ba87d;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #4ba87d;
  }
}
@media screen and (max-width: 1024px) {
  .nav__logo--img {
    width: 84px;
    height: 42px;
  }
  .nav__logo--title {
    font-size: 22px;
  }
  .nav__links__wrap--link {
    font-size: 11px;
  }
  .nav__links__wrap--line {
    width: 71px;
    height: 3px;
  }
  .nav--btn {
    font-size: 11px;
    padding: 6px 13.5px;
  }
}
@media screen and (max-width: 768px) {
  .nav__links__wrap {
    display: none;
  }
  .nav__logo {
    gap: 1px;
    justify-content: start;
  }
}
@media screen and (max-width: 350px) {
    .nav__logo--img{
        width: 80px;
    }
    .nav__logo--title{
        font-size: 16px;
    }
    .nav--btn{
        padding: 6px 12px;
    }
}
